.aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
img{
    width: 300px;
    border-radius: 20px;
}
.text{
    width: 500px;
}
.header{
    line-height: 0.5;
    margin-bottom: 30px;
}

