@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');

:root{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
}
